@font-face {
  font-family: "WulkanDisplay";
  src: url("WulkanDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "WulkanDisplay";
  src: url("WulkanDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "WulkanDisplay";
  src: url("WulkanDisplay-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "WulkanDisplay";
  src: url("WulkanDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}